.grid { 
    width: 200px;
    height: 400px;
    background-color: rgb(81, 133, 175);
    display: flex;
    flex-wrap: wrap;

}

.grid div { 
    height: 20px;
    width: 20px;

}

.tetromino { 
    background-color: green;
}     


.mini-grid { 
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(81, 133, 175);
}

.mini-grid div { 
    height: 20px;
    width: 20px;

}

.container { 
    display: flex;
    gap: 20px;

}